<!doctype html>
<html>
<head>
  <title>{% block title %} put your title here {% endblock %}</title>
</head>

<body>
	<div id="nav_bar">
		<a href="/">Home</a> | 
		<a href="/movies">Movies</a> | 
		<a href="/users">Users</a> | 
		{% set user_id = session.get("user_id") %}
		{% if user_id %}
			<a href="/users/{{user_id}}">Your Profile</a> | 
			<a href="/logout">Logout</a>
		
		{% else %}
			<a href="/register">Register</a> | 
			<a href="/login">Login</a>
		
		{% endif %}
		
		<hr>
	</div>

	<ul>
		{% for message in get_flashed_messages() %}
		<li>{{message}}</li>
		{% endfor %}
	</ul>

  {% block content %} put your content here {% endblock %}
	

</body>
</html>