{% extends 'base.html' %}
{% block title %} Movie Info {% endblock %}
{% block content %}

<h2>{{movie.title}}'s Info and Ratings</h2>
<h4>Title: {{movie.title}}</h4>
<h4>Released On: {{movie.released_at.year}}</h4>

{% if session.get("user_id") %}
<form action="/movies/{{movie.movie_id}}" method="POST">
	Give your rating: 
	<input type="number" min=1 max= 5 name="rating"><br>
	<input type="submit" value="Submit">
</form>
{% endif %}

{% if movie_ratings %}
	<ul>
	{% for user, score in movie_ratings %}
		<li>{{user}}: {{score}}</li>
	{% endfor %}
	</ul>
{% else %}
	<p>No ratings created.<br> womp womp :c </p>
{% endif %}

{% endblock %}